<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.ClientEngine.Core.Config.SocketClientConfig, SuperSocket.ClientEngine.Core.Extend" />
  </configSections>
  <superSocket logFactory="nihao">
    <clients>
      <client name="MyUserClient" ip="www.realsun.me" port="2021" maxReceiveLength="10240"></client>
    </clients>
  </superSocket>
</configuration>